body {
    height: 0;
    margin: 0;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 30px;
    text-align: center;
}
.img-book {
    max-width: 300px;
    border-radius: 8px;
    margin: 15px 0px 15px 0px;
}
.container h2 {
    font-size: 24px;
    color: #333;
}
.container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}
.p-abz{
    text-align: left;
    padding: 0px 15px 0px 15px;
}
.price {
    font-size: 20px;
    font-weight: bold;
    color: #789d67;
    margin-bottom: 15px;
}
.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
    outline: none;
    width: 430px;
    margin-bottom: 10px;
}
.btn-buy {
    border: 1px solid #6a816b;
    background-color: #abbdac80;
    color: #6a816b;
}
.btn-buy:hover {
    background: #6a816b;
    border-radius: 20px 20px 0 0;
    color: white;
}
.btn-back {
    background: #6d1c26;
    color: white;
    width: 400px;
}
.btn-back:hover {
    background: #333;
    border-radius: 0 0 20px 20px ;
}